@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  :root {
    --color-body: 255 255 255;

    --color-primary: 114 0 74;
    --color-primary-light: 130 0 84;
    --color-primary-dark: 65 0 42;
    --color-primary-contrast: 255 255 255;

    --color-secondary: 18 99 148;
    --color-secondary-light: 22 124 185;
    --color-secondary-dark: 13 74 111;
    --color-secondary-contrast: 255 255 255;

    --color-tertiary: 204 8 22;
    --color-tertiary-light: 239 13 29;
    --color-tertiary-dark: 194 13 25;
    --color-tertiary-contrast: 255 255 255;

    --color-error: 204 8 22;
    --color-error-light: 239 13 29;
    --color-error-dark: 194 13 25;
    --color-error-contrast: 255 255 255;

    --color-success: 204 8 22;
    --color-success-light: 239 13 29;
    --color-success-dark: 194 13 25;
    --color-success-contrast: 255 255 255;

    --color-text: 0 0 18;
    --color-text-light: 7 7 20;
    --color-text-dark: 5 5 25;
  }

  :root[class~='dark'] {
    --color-body: 0 1 18;

    --color-primary: 202 34 142;
    --color-primary-light: 213 78 165;
    --color-primary-dark: 162 27 114;
    --color-primary-contrast: 255 255 255;

    --color-secondary: 18 99 148;
    --color-secondary-light: 22 124 185;
    --color-secondary-dark: 13 74 111;
    --color-secondary-contrast: 255 255 255;

    --color-tertiary: 204 8 22;
    --color-tertiary-light: 239 13 29;
    --color-tertiary-dark: 194 13 25;
    --color-tertiary-contrast: 255 255 255;

    --color-error: 204 8 22;
    --color-error-light: 239 13 29;
    --color-error-dark: 194 13 25;
    --color-error-contrast: 255 255 255;

    --color-success: 204 8 22;
    --color-success-light: 239 13 29;
    --color-success-dark: 194 13 25;
    --color-success-contrast: 255 255 255;

    --color-text: 230 230 230;
    --color-text-light: 255 255 255;
    --color-text-dark: 204 204 204;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply font-bold;
  }
}

/** Defaults */
body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 100%;
}

/** 
  Captcha Override
 */
.grecaptcha-badge {
  display: none !important;
}
