@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  :root {
    --color-primary: 204 8 22;
    --color-primary-light: 239 13 29;
    --color-primary-dark: 194 13 25;
    --color-primary-contrast: 255 255 255;

    --color-body: 255 255 255;
  }

  :root[class~='dark'] {
    --color-primary: 195 168 69;
    --color-primary-light: 205 176 70;
    --color-primary-dark: 165 140 51;
    --color-primary-contrast: 8 8 8;

    --color-body: 0 0 0;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply font-bold;
  }
}

/** Defaults */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 100%;
}

/** 
  Captcha Override
 */
.grecaptcha-badge {
  display: none !important;
}
